.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  color: var(--color-primary);
  font-size: 14px;
  border: var(--border-light);
  border-radius: 8px;
  padding: 4px 0;
  font-weight: 600;
  background-color: transparent;
  transition: color var(--animation-cubicBezier),
    background-color var(--animation-cubicBezier),
    box-shadow var(--animation-cubicBezier);
}

.btn:disabled {
  color: #a0a0a0;
  background-color: #e2d5e94d;
  border-color: #a0a0a0;
  box-shadow: none;
  opacity: 0.6;
}

.span {
  color: var(--color-primary);
  font-size: 14px;
}

.btn:enabled:hover,
.btn:enabled:focus {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
    width: 100px;
    padding: 6px 0;
  }

  .span {
    font-size: 18px;
  }
}
