.backLink {
  color: #e2d5e9;
  display: inline-block;
  font-size: 18px;
  border: 1px solid #e2d5e9;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 6px 12px;
  font-weight: 600;
  text-align: center;
  transition: color 250ms cubic-bezier(0.7, 0.98, 0.86, 0.98),
    background-color 250 mscubic-bezier(0.7, 0.98, 0.86, 0.98),
    box-shadow 250ms cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

.backLink:hover,
.backLink:focus {
  color: #40065e;
  background-color: #e2d5e9;
}

.backdrop {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 10px;
  background-color: #19042b;
  box-shadow: 0px 0px 10px 1px #bfa5cc;
  height: 900px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #19042b;
  border-radius: 12px;
  margin-bottom: 20px;
}

.posterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 1px #1e052b63;
  border-radius: 12px;
  height: auto;
  width: 270px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d7cde08f;
  padding: 10px;
  height: 400px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 1px #1e052b63;
  text-align: center;
  gap: 5px;
}

.infoTitle {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  color: #40065e;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 5px;
}

.infoTagline {
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  width: auto;
}

.infoOwerview {
  text-align: start;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px #1e052b7c;
  background-color: #1e052bb0;
  color: #e2d5e9;
  padding: 10px;
  font-size: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.infoOwerview::-webkit-scrollbar {
  width: 8px;
}

.infoOwerview::-webkit-scrollbar-track {
  background: transparent;
}

.infoOwerview::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.infoOwerview::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px #1e052b7c;
}

.infoItem {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: start;
}

.infoAccent {
  font-size: 14px;
}
.infoText {
  font-size: 14px;
  text-align: left;
}

.infoIcon {
  align-self: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(135deg, #bfa5cc, #6e348b, #40065e);
  border-radius: 12px;
  box-shadow: 0px 0px 10px 1px #bfa5cc;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.link {
  color: #e2d5e9;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.7, 0.98, 0.86, 0.98),
    background-color 250 mscubic-bezier(0.7, 0.98, 0.86, 0.98),
    transform 250ms cubic-bezier(0.7, 0.98, 0.86, 0.98);
  transform: scale(0.9);
}

.active {
  color: #40065e;
  background-color: #e2d5e9;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 8px;
  transform: scale(1);
  pointer-events: none;
}

.link:hover,
.link:focus {
  color: #ffffff;
}

@media screen and (min-width: 375px) {
  .posterWrapper {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .infoTitle {
    font-size: 24px;
  }

  .infoTagline {
    font-size: 20px;
  }

  .infoOwerview {
    font-size: 18px;
    padding: 10px 20px;
  }

  .infoList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .infoItem {
    width: calc((100% - 20px) / 2);
    gap: 5px;
  }

  .infoAccent {
    font-size: 18px;
  }
  .infoText {
    font-size: 18px;
  }

  .nav {
    gap: 20px;

    padding: 5px 40px;
  }

  .link {
    font-size: 24px;
  }

  .active {
    padding: 6px 12px;
  }
}

@media screen and (min-width: 1024px) {
  .backdrop {
    flex-wrap: nowrap;
    gap: 40px;
    padding: 40px 40px;
    height: 500px;
    width: 100%;
  }

  .infoWrapper {
    padding: 20px;
    height: 100%;
  }
}
