.form {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.inputWrapper {
  position: relative;
  width: 90%;
}

.input {
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 5px 10px 5px 50px;
  outline: transparent;
  border: none;

  box-sizing: border-box;
  transition: box-shadow var(--animation-cubicBezier);
}
.input:hover,
.input:active {
  box-shadow: var(--shadow-input);
}

.btnSearch {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: all var(--animation-cubicBezier);
}

.btnSearch:hover .icon {
  transform: scale(1.1);
}

@media screen and (min-width: 520px) {
  .inputWrapper {
    width: 520px;
  }
}
