.title {
  font-size: 20px;
  color: var(--color-primary);
  text-decoration: underline;
  margin-bottom: 20px;
  text-align: center;
}

.message {
  border-radius: 12px;
  box-shadow: var(--shadow-light-trasparent);
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
  }
}
