@import "styles/variables.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding-right: 0;
  color: var(--color-text-base);
  background-color: var(--color-mainBackground);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  display: block;
  color: inherit;
}

input {
  font: inherit;
  cursor: pointer;
  outline: transparent;
}

button {
  font: inherit;
  cursor: pointer;
  outline: transparent;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
